<launch>

  <!-- Start navigation -->
  <include file="$(find fetch-halloween)/launch/fetch_nav.launch" />

  <!-- Start sound_play main node -->
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>
  
  <!-- Start our custom funnel node  -->
  <node name="speaker_node" pkg="fetch-halloween" type="speaker_node.py"/>

</launch>